
/* MAIN STYLE CSS TO USE ACROSS ALL HTML PAGES */
.blog-container {
  background: #fff;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 4px 2px -2px;
  font-family: "adelle-sans", sans-serif;
  font-weight: 100;
  margin: 30px auto;
  
  width: 95%;
}
@media screen and (max-width: 480px) {
    .blog-container {
        width: 100%;
    }
  }

.blog-container a {
color: #4d4dff;
text-decoration: none;
transition: .25s ease;
}
.blog-container a:hover {
border-color: #ff4d4d;
color: #ff4d4d;
}

.blog-cover {
background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/17779/yosemite-3.jpg");
background-size: cover;
border-radius: 5px 5px 0 0;
height: 15rem;
box-shadow: inset rgba(0, 0, 0, 0.2) 0 64px 64px 16px;
}

.blog-author,
.blog-author--no-cover {
margin: 0 auto;
padding-top: .125rem;
width: 90%;
}

.blog-author h4::before,
.blog-author--no-cover h4::before {
background: url("../assets/images/leah.png");
background-size: cover;
border-radius: 50%;
content: " ";
display: inline-block;
height: 50px;
margin-right: .5rem;
position: relative;
top: 20px;
width: 50px;
}

.blog-author h4 {
color: #fff;
font-weight: 100;
}

.blog-author--no-cover h4 {
color: #999999;
font-weight: 100;
font-size: 20px;
}

.blog-body {
margin: 0 auto;
width: 90%;
margin-bottom: -2%;
margin-top: -2%;
}

.video-body {
height: 100%;
width: 100%;
}

.blog-title h1 {
color: #333;
  font-size: 30px;
  text-align: center;
  padding-bottom: 2%;
}

.blog-summary p {
color: #4d4d4d;
}

.blog-tags ul {
display: flex;
flex-direction: row;
flex-wrap: wrap;
list-style: none;
padding-left: 0;
}

.blog-tags li + li {
margin-left: .5rem;
}

.blog-tags a {
border: 1px solid #999999;
border-radius: 3px;
color: #999999;
font-size: .75rem;
height: 1.5rem;
line-height: 1.5rem;
letter-spacing: 1px;
padding: 0 .5rem;
text-align: center;
text-transform: uppercase;
white-space: nowrap;
width: 5rem;
}

.blog-footer {
border-top: 1px solid #e6e6e6;
margin: auto;

padding-bottom: .125rem;
width: 80%;
}

.blog-footer ul {
list-style: none;
display: flex;
flex: row wrap;
justify-content: flex-end;
padding-left: 0;
}

.blog-footer li:first-child {
margin-right: auto;
}

.blog-footer li + li {
margin-left: .5rem;
}

.blog-footer li {
  color: #999999;
  font-size: .75rem;
  height: 1.5rem;
  letter-spacing: 1px;
  line-height: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  white-space: nowrap;
  margin-top: 3%;
}
.blog-footer li a {
color: #999999;
}

.published-date {
  border: 1px solid #999999;
  border-radius: 3px;
  padding: 0 1rem;
}

.numero {
  position: relative;
  top: -0.5rem;
}

.icon-star {
fill: #999999;
height: 30px;
margin-right: .5rem;
transition: .25s ease;
width: 30px;
margin-top: -5%;
}
.icon-star:hover {
  fill: #ff4d4d;
}

.fb:hover{
  cursor: pointer;
  color: #3b5998;
}
.ig:hover{
  cursor: pointer;
  color: #cd486b
}

.tw:hover{
 color: #1DA1F2;
 cursor: pointer;
}

.sn:hover{
  color: rgb(191, 188, 20);
  cursor: pointer;
}

/* VIDEOS */
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  margin-bottom: 2%;
  padding-top: 30px; height: 0; overflow: hidden;
  border-radius: 3%; 
  }

  .video-container iframe,
  .video-container object,
  .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  }
  :root {
    --fir-font-article: "adobe-garamond-pro", "Times New Roman", Times;
    --fir-font-header: "foco", Helvetica;
    --fir-blue-twitter-alpha: rgba(85,172,238, 0.6);
    --fir-color-grey: rgba(0,0,0, 0.40);
  }
  .blog-header{
    padding: 15px;
  }

  /*+++++++++++++++++++++++++++++++++ UPDATE HERE FOR PHOTO++++++++++++++++++++++++++++++++  */
  .img-circular{
    width: 80px;
    height: 80px;
    background-image: url('../assets/images/liz.png');
    background-size: cover;
    display: block;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
   }

   /*++++++++++++***************************************************************************/
  
  .fir-image-figure {
    margin: 0;
  
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    position: relative;
    text-decoration: none;
  }
  
  .fir-image-figure .caption, .fir-image-figure figcaption {
    padding-left: 15px;
  }
  
  html.wf-active .fir-image-figure .fig-author-figure-title {
    font-family: var(--fir-font-header);
    font-size: 16px;
  }
  
  .fir-image-figure .fig-author-figure-title {
    color: var(--fir-color-grey);
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-top: 2px;
  }
  
  .fir-imageover-image {
    position: absolute;
    top: 0;
    left: 0;
    animation: fadeInFadeOut 2s infinite;
  }
  
  @keyframes fadeInFadeOut {
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }

  div {
  border: 2px solid darkblue;
}

/*
Copyright 2016 Google Inc. All Rights Reserved. 
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at https://material.angularjs.org/license.
*/